html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    background-image: url("bg.svg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

main {
    width: 80vw;
    margin: 2rem auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* font-stretch: ultra-expanded; */
    /* text-align:end; */
    /* width: 20rem;
    height: 20rem; */
    /* border-radius: 10rem; */
    position: relative;
}

img {
    width: 30%;
    height: auto;
    position: absolute;
    left: 21rem;
    top: 10rem;
    /* box-shadow: 5px 5px lightblue; */
}

/* 

html {

    box-sizing: border-box;
  
  }
  
  *,
  
  *:before,
  
  *:after {
  
    box-sizing: inherit;
  
  }
  
   
  
  html {
  
    font-family: "Open Sans", sans-serif;
  
    font-size: 1rem;
  
    color: white;
  
  }
  
   
  
  body {
  
    width: 100vw;
  
    height: 100vh;
  
    background: white url("img/bg.svg") center/cover no-repeat;
  
  }
  
   
  
  .product {
  
    width: 80vw;
  
    margin: 2rem auto;
  
  }
  
   
  
  .product__promo {
  
    font-size: 1.1rem;
  
    width: 30vw;
  
    margin-top: 10vh;
  
  }
  
   
  
  .product__promo h1 {
  
    font-weight: 900;
  
  }
  
   
  
  .product__image {
  
    width: 30vw;
  
    position: absolute;
  
    left: 50vw;
  
    top: 5vh;
  
  } */